body{

font-family: Arial;
margin:20px;
text-align:center;

}

h1{

margin-bottom:40px;

}

.menu{

display:flex;
flex-direction:column;
gap:20px;

}

.btn{

background:#1976d2;
color:white;
padding:20px;
text-decoration:none;
border-radius:10px;
font-size:20px;

}

.btn:hover{

background:#125ea8;

}
